semi: true
singleQuote: false
bracketSameLine: true
htmlWhitespaceSensitivity: ignore
proseWrap: always
printWidth: 80
tabWidth: 2
useTabs: false
trailingComma: all
bracketSpacing: true
arrowParens: always
