$color-start: rgb(50, 2, 74);
$color-end: black;
$hover-color: rgb(55, 3, 81);

@mixin container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.pageContainer {
  display: flex;
}

.homePageSidebar {
  @include container;
  width: 350px;
  align-items: center;
  height: 95vh;
  background-color: rgb(17, 0, 25);
}

.homePageSidebar > * {
  margin: 10px 0;
}

.accountInfo {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.accountInfo:hover {
  background-color: $hover-color;
}

.accountInfo > * {
  padding: 0 10px;
  font-family: Verdana;
  font-weight: 100;
}

.accountPFP {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidebarButton {
  width: 50%;
  background-color: rgb(37, 1, 55);
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  cursor:pointer;
}

.sidebarButton:hover {
  background-color: $hover-color;
}

.homePageBody {
  @include container;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom, $color-start, $color-end);
}

.title {
  color: white;
  font-size: xx-large;
}

.space {
  height: 10px;
  border-bottom: 1px solid white;
}

.titleRow {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}
