$hover-color: rgb(55, 3, 81);

.trackRow {
    display:flex;
    align-items: center;
    text-decoration: none;
}

.trackRow:hover {
    background-color: $hover-color;
    cursor: pointer;
}

.coverImageWrapper {
    width: 10vw;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    align-items: center;
}
.coverImage {
    width:40px;
    height: 40px;
    border-radius: 5px;
}

#title {
    width: 20vw;
    text-align: left;
}

#artist {
    width:34vw;
    text-align: left;

}
